@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
    background-color: $bg-color;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

